@import 'fonts';
$text-color: #2C4058;
$light-color: #FFF;
$black-color: #000;
$light-accent: #55B7FF;
$dark-accent: #7E5AFF;;

*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


ul, ol {
  list-style: none;
}

a, button {
  transition: all .2s ease;
  text-decoration: none;
  border: none;
  background-color: transparent;  
}

button {
  cursor: pointer;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
svg use {
  fill: #fff;
}
.container {
  width: min(90%, 1170px);
  margin: 0 auto;
}

body {
  color: $text-color;
  font-family: "Open Sans";
  font-size: 1.125rem;
  line-height: 1.875rem;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100dvh;
  main {
    flex-grow: 1;
  }
}

header {
  background-color: transparent;
  height: 54px;
  position: fixed;
  top: 53px;
  left: 0;
  width: 100%;
  z-index: 1000;
  // border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  transition: background-color .4s ease;
  &.scrolled {
    background: RGBA(255, 255, 255, 0.1);
background: linear-gradient(90deg,rgba(255, 255, 255, .7) 0%, rgba(70, 79, 236, 0.5) 50%, rgba(255, 255, 255, .7) 100%);
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    nav {
      width: 450px;
    }
    .menu {
      display: flex;
      width: 100%;
      justify-content: space-between;

      a {
        text-transform: uppercase;
        color: $light-color;
        color: #FFF;
        font-family: 'Source Sans 3';
        font-size: 0.875rem;
        line-height: normal;
        transition: all .4s ease;
        &:hover {
          color: $black-color;
          span {
            border-color: $black-color;
          }
        }
        span {
          display: inline-block;
          margin-right: 14px;
          width: 9px;
          height: 9px;
          border-radius: 50%;
          border: 1px solid $light-color;
          transition: all .4s ease;
          &.menu--active {
            background-color: $light-color;
          }
        }
      }
    }
    
  }
}
.logo a {
  max-width: 240px;
  display: inline-block;
  filter: none;
  transition: all .4s ease;
  &:hover {
    filter: invert(100%);
  }
}
.socials {
  display: flex;
  gap: 20px;
  a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid $light-color;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transition: all .4s ease;
    svg {
      width: 60%;
      height: 60%;
      fill: $light-color;
      use {
        transition: all .4s ease;
      }
    }
    &:hover {
      border-color: $black-color;
      svg use {
      fill: $black-color;
      }
    } 
  }
}
.hero {
  position: relative;
  color: $light-color;
  text-align: center;
  .hero-item {
    h1 {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: Montserrat;
      font-size: 5rem;
      font-weight: 700;
      letter-spacing: 0.5rem;
      line-height: 5.625rem;
    }
    .sub-title {
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: Montserrat;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.3375rem;
    }
  }

  .hero__views {
    height: 100dvh;
    li {
      width: 100%;
      height: 100dvh;
      // background: linear-gradient(90deg,rgba(28, 191, 255, .2) 0%, rgba(66, 109, 227, .2) 50%, rgba(139, 67, 247, .2) 100%), url('../images/all/bg-hero.webp') no-repeat center center / cover;
      &:first-child {
        background: linear-gradient(90deg,rgba(28, 191, 255, .2) 0%, rgba(66, 109, 227, .2) 50%, rgba(139, 67, 247, .2) 100%), url('../images/all/bg-hero.webp') no-repeat center center / cover;
      }
      &:nth-child(2) {
        background: linear-gradient(90deg,rgba(64, 230, 122, 0.2) 0%, rgba(51, 99, 232, 0.2) 50%, rgba(92, 12, 213, 0.2) 100%), url('../images/all/bg-hero.webp') no-repeat center center / cover;
      }
      &:nth-child(3) {
        background: linear-gradient(90deg,rgba(5, 48, 203, 0.2) 0%, rgba(65, 56, 126, 0.2) 50%, rgba(116, 132, 203, 0.2) 100%), url('../images/all/bg-hero.webp') no-repeat center center / cover;
      }
      &:nth-child(4) {
        background: linear-gradient(90deg,rgba(128, 233, 93, 0.2) 0%, rgba(11, 99, 3, 0.2) 50%, rgba(5, 164, 108, 0.2) 100%), url('../images/all/bg-hero.webp') no-repeat center center / cover;
      }
      &:nth-child(5) {
        background: linear-gradient(90deg,rgba(90, 183, 188, 0.2) 0%, rgba(11, 140, 129, 0.2) 50%, rgba(6, 92, 123, 0.2) 100%), url('../images/all/bg-hero.webp') no-repeat center center / cover;
      }
    }
  }
  .link-down {
    position: absolute;
    bottom: 6%;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid $light-color;
    border-radius: 50%;
    transition: all .4s ease;
    z-index: 101;
    &:before {
      content: '';
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      border-bottom: 1px solid $light-color;
      border-right: 1px solid $light-color;
      transform: translate(-50%, -50%) rotate(45deg);
      transition: all .4s ease;
    }
    &:hover {
      border-color: $black-color;
      &::before {
        border-color: $black-color;
      }
    }
  }
}
#lightSlider {
  max-height: 100dvh;
  .hero-item {
    width: 100%;
    height: 100dvh;
    background-color: rgba(36, 35, 35, 0.9);
  }
}
.hero {
  .lSSlideOuter .lSPager.lSpg {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 101;
  }
    .lSSlideOuter .lSPager.lSpg>li a  {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid $light-color;
    background-color: transparent;
    transition: all .4s ease;
    
  }

  .lSSlideOuter .lSPager.lSpg>li:hover a {
      border-color: $black-color;
      background-color: transparent;
  }
  .lSSlideOuter .lSPager.lSpg>li.active a {
      background-color: $light-color;
  }
}
  

h2 {
  text-align: center;
  font-family: Montserrat;
  font-size: 2.75rem;
  font-weight: 700;
}
.about {
  padding: 150px 0;
  h2 {
    color: $text-color;
    position: relative;
    margin-bottom: 90px;
    &::after {
      content: '';
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      width: 100px;
      height: 1px;
      background-color: $text-color;
    }
  }

}

.about_item {
  display: grid;
  grid-template-columns: 5fr 4fr;
  gap: 70px;
  align-items: center;
  .about_item_img {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 600px;
    .about_img_wrapp {
      position: absolute;
      bottom: 0;
      right: 0;
      // max-width: 550px;
      img {
        box-shadow: -215px -60px 0px $light-accent;
      }
    }
  }
  .about_item_text {
    .sup-title {
      font-family: Montserrat;
      font-size: 1.375rem;
      padding-top: 80px;
    }
    h3 {
      color: $text-color;
      font-family: Montserrat;
      font-size: 2.75rem;
      font-weight: 700;
      line-height: 3.625rem;
      margin-bottom: 19px;
    }
    p {
      max-width: 470px;
      margin-bottom: 40px;
      font-family: "Open Sans";
      font-size: 1.125rem;
      line-height: 1.875rem;
    }
  }
}
a.btn, button.btn {
  display: inline-block;
  padding: 16px 41px;
  border: 1px solid $text-color;
  color: $black-color;
  font-family: Montserrat;
  font-size: 0.875rem;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.4s ease;
  cursor: pointer;
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: $text-color;
    z-index: -1;
    transition: all 0.4s ease;
  }

  &:hover {
    color: white;
    border-color: $text-color;

    &::before {
      left: 0;
    }
  }
}
.about_item_location {
  padding-top: 60px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Open Sans";
  font-size: 0.9375rem;
  font-style: italic;
  font-weight: 400;
  span {
      display: inline-block;
      width: 20px;
      height: 22px;
      svg {
        width: 100%;
        height: 100%;
        use {
          fill: $text-color;
        }
      }
    }
}
.about_item.reverse {
  grid-template-columns: 4fr 5fr;
  .about_item_img {

    .about_img_wrapp {
      bottom: 0;
      left: 0;
      // max-width: 550px;
      img {
        box-shadow: 215px -60px 0px $dark-accent;
      }
    }
  }
}

.news {
  position: relative;
  background:  url('../images/all/news-bg.webp') no-repeat 50% 100% / contain,
         linear-gradient(237deg, #24CCFA 11.16%, #3C7FD4 89.18%) ;
       
  padding: 130px 15%;
  h2 {
    color: $light-color;
    margin-bottom: 90px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      width: 100px;
      height: 1px;
      background-color: #24CCFA;
    }
  }
  .lSSlideOuter .lSPager.lSpg>li a  {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid $light-color;
    background-color: transparent;
    transition: all .4s ease;
    
  }

  .lSSlideOuter .lSPager.lSpg>li:hover a {
      border-color: $black-color;
      background-color: transparent;
  }
  .lSSlideOuter .lSPager.lSpg>li.active a {
      background-color: $light-color;
  }
  .lSSlideOuter .lSPager.lSpg {
    margin-top: 40px!important;
  }
  .news-prev, .news-next {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid $light-color;
    border-radius: 50%;
    color: $light-color;
    transition: all .4s ease;
    &:hover {
      color: $black-color;
      border: 1px solid $black-color;
    }
  }
  .news-prev {
    left: 10%;
  }
  .news-next {
    right: 10%;
  }
}
.news .lSSlideOuter {
  position: relative;
}
.news-slider {
  .news-slider-item {
    background-color:#FFF;
    width: 370px;
    .news-img {
      margin-bottom: 30px;
      aspect-ratio: 347/225;
    }
    h4 {
      width: 85%;
      margin: 0 auto;
      color: $text-color;
      font-family: Montserrat;
      font-size: 1.375rem;
      font-weight: 700;
      margin-bottom: 15px;
    }
    p {
      width: 85%;
      margin: 0 auto;
      color: $text-color;
      font-family: "Open Sans";
      font-size: 1.125rem;
      font-weight: 400;
      margin-bottom: 39px;
    }
    .author-info {
      display: flex;
      justify-content: start;
      gap: 20px;
      width: 85%;
      margin: 0 auto;
      margin-bottom: 30px;
      .author-avatar img {
        border-radius: 50%;
        height: 60px;
        width: 60px;
      }
      .author-text {
        .author-name {
          color: $text-color;
          font-family: Montserrat;
          font-size: 1.125rem;
        }
        .post-date {
          color: $light-accent;
          font-family: Montserrat;
          font-size: 0.875rem;
        }
      }
    }
  }
}
.gallery {
  .container {
    padding-top: 180px;
    padding-bottom: 150px;
  }
  h2 {
    color: $text-color;
    margin-bottom: 90px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      width: 100px;
      height: 1px;
      background-color: $text-color;
    }
  }
  .gallery-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
    gap: 10px;
    margin-bottom: 60px;
    a img {
      vertical-align: top;
      transition: all .6s ease;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .gallery-items a {
    position: relative;
    display: inline-block;
    overflow: hidden;
    &::before {
      content: url('../images/brands/Group.svg');
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.3s ease;
      pointer-events: none;
      z-index: 10;
    }
    &:hover::before {
    opacity: 1;
    }
    &:hover img {
    transform: scale(1.05);
    }
  }
}

.col-2 {
  grid-column: span 2;
}
.row-2 {
  grid-row: span 2;
}
.gallery-btn {
  text-align: center;
}

#map {
  height: 700px;
  #load-map-link {
    display: block;
    height: 100%;
    position: relative;
    text-decoration: none;
    
    p {
      position: absolute;
      left: 50%;
      top: 30%;
      transform: translate(-50%, -50%);
      color: $light-color;
      opacity: 0;
      font-size: 4rem;
      font-weight: 700;
      z-index: 2;
      transition: all .4s ease;
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      background-color: rgba(36, 35, 35, 0.5);
      opacity: 0;
      z-index: 1;
      transition: all .4s ease;
    }
    &:hover {
      p, &::after {
        opacity: 1;
      }
    }
  }
}
#contacts {
  position: relative;
  .form-contact {
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translateX(-50%);
    width: 55%;
    background: url('../images/all/contact-bg.webp') no-repeat center bottom /contain, #fff;
    z-index: 405;
    padding-top: 90px;
    padding-bottom: 68px;
    h2 {
      color: $text-color;
      margin-bottom: 60px;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        height: 1px;
        background-color: $text-color;
      }
    }
    
  }
}
.contact-items {
  width: 80%;
  margin: 0 auto;
  // display: grid;
  display: flex;
  justify-content: space-between;
  li {
    margin-bottom: 40px;
  }
  a {
    color: $black-color;
    font-family: Montserrat;
    font-size: 1.125rem;
    line-height: 1.75rem;
    transition: all .4s ease;
    &:hover {
      color: $dark-accent;
    }
    span {
      margin-right: 10px;
      text-align: center;
    }
    svg {
      vertical-align: text-top;
      max-width: 20px;
      max-height: 20px;
        // width: 100%;
      use {
        fill: $dark-accent;
      }
    }
  }
}
.contact-form-items {
  label{
    margin-bottom:15px;
    position:relative;
    border-bottom:1px solid #2C4058;
    cursor: pointer;
  }
  input, textarea{
    width:100%;
    padding:10px 0px;
    margin-top:35px;
    border:none;
    outline:none;
    resize: none;
    background-color: transparent;
    color: $black-color;
    font-family: Montserrat;
    font-size: 1.125rem;
    line-height: 1.6875rem;
    
  }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
    opacity:0;
  }
  input::-moz-placeholder, textarea::-moz-placeholder{
    opacity:0;
  }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder{
    opacity:0;
  }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder{
    opacity:0;
  }
  input::placeholder, textarea::placeholder{
    opacity:0;
  }
  span{
    position:absolute;
    top:-35px;
    left:0;
    -webkit-transform:translateY(30px);
        -ms-transform:translateY(30px);
            transform:translateY(30px);
    font-size:0.825em;
    -webkit-transition-duration:300ms;
         -o-transition-duration:300ms;
            transition-duration:300ms;
    color: $text-color;
    font-family: Montserrat;
    font-size: 1.125rem;
    line-height: 1.6875rem;
    opacity: 0.5;
  }
  input:not(:-moz-placeholder-shown) + span{
  color: $black-color;
  transform:translateY(10px);
}
  input:not(:-ms-input-placeholder) + span{
  color: $black-color;
  -ms-transform:translateY(0px);
      transform:translateY(0px);
}
  label:focus-within > span,
input:not(:placeholder-shown) + span{
  color: $black-color;
  -webkit-transform:translateY(0px);
      -ms-transform:translateY(0px);
          transform:translateY(0px);
}
textarea:not(:-moz-placeholder-shown) + span{
  color: $black-color;
  transform:translateY(0px);
}
textarea:not(:-ms-input-placeholder) + span{
  color: $black-color;
  -ms-transform:translateY(0px);
      transform:translateY(0px);
}
label:focus-within > span,
textarea:not(:placeholder-shown) + span{
  color: $black-color;
  -webkit-transform:translateY(0px);
      -ms-transform:translateY(0px);
          transform:translateY(0px);
}
}
.form-btn {
  padding-top: 30px;
  text-align: right;
}
footer {
  background: url('../images/all/footer-bg.webp') no-repeat center bottom / cover, linear-gradient(251deg, #7E5AFF -2.19%, #55B7FF 103.21%) ;
}
.footer-container {
  padding-top: 203px;
  padding-bottom: 234px;
  width: 55%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  .logo {
    margin-bottom: 40px;
  }
  .copyright a {
    color: $light-color;
    font-family: Montserrat;
    font-size: 0.875rem;
    transition: all .4s ease;
    &:hover {
      color: $black-color;
    }
  }
}