/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@use 'fonts.css' as *;
*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
:root {
  --text-color: #262A3F;
  --liner-bg-color: #F1897B;
  --liner-bg-color-hover: #E54F3A;
  --em-color: #85BBB1;
  --dolar-color: #E4E4E4;
  --beautiful-bg-color: rgba(255, 255, 255, .9);
  --border-color: #E4E4E4;
}
:root[data-theme='dark'] {
  --text-color: #fff;
  --liner-bg-color: #53F3CD; 
  --liner-bg-color-hover: #02E0AB;
  --em-color: #689FF2;
  --dolar-color: #fff;
  --beautiful-bg-color: rgba(22, 25, 38, .9);
  --border-color: #515773;
}

$text-color: var(--text-color);
$liner-bg-color: var(--liner-bg-color);
$liner-bg-color-hover: var(--liner-bg-color-hover);
$em-color: var(--em-color);
$dolar-color: var(--dolar-color);
$beautiful-bg-color: var(--beautiful-bg-color);
$border-color: var(--border-color);

ul, ol {
  list-style: none;
}

a, button {
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
a {
  text-decoration: none; 
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  width: min(90%, 1170px);
  margin: 0 auto;
}

body {
  color: $text-color;
  font-family: 'Lato', sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.625rem;
  background: url('../images/main-bg-light-min.webp') no-repeat;
  background-color: #fff;
  background-size: contain;
  background-position: 50% 0%;
  
}

.page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100dvh;
  main {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.checkbox {
  display: none;
}

.slider {
  width: 60px;
  height: 30px;
  background-color: #BCC7C8;
  border-radius: 20px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 4px solid transparent;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.25) inset;
          box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.25) inset;
  cursor: pointer;
}

.slider::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-transform: translateX(-30px);
      -ms-transform: translateX(-30px);
          transform: translateX(-30px);
  border-radius: 20px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.25);
          box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.25);
}

.checkbox:checked ~ .slider::before {
  -webkit-transform: translateX(30px);
      -ms-transform: translateX(30px);
          transform: translateX(30px);
  -webkit-box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.25);
          box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.25);
}

.checkbox:checked ~ .slider {
  background-color: #273647;
}

.checkbox:active ~ .slider::before {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}
header {
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.50)), color-stop(24.1%, rgba(255, 255, 255, 0.24)), color-stop(47.19%, rgba(255, 255, 255, 0.00))), rgba(255, 255, 255, 0.02);
  background: -o-linear-gradient(right, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.24) 24.1%, rgba(255, 255, 255, 0.00) 47.19%), rgba(255, 255, 255, 0.02);
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.24) 24.1%, rgba(255, 255, 255, 0.00) 47.19%), rgba(255, 255, 255, 0.02);
  -webkit-backdrop-filter: blur(4.5px);
          backdrop-filter: blur(4.5px);
  position: sticky;
  top: 30px;
  left: 0;
  z-index: 101;
  height: 80px;
  padding: 24px 0;
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
    .header-menu ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: end;
      gap: 30px;
      li {
        a {
          padding: 4px 0;
          color: $text-color;
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.5rem; /* 171.429% */
          letter-spacing: 0.056rem;
          -webkit-transition: all .6s ease;
          -o-transition: all .6s ease;
          transition: all .6s ease;
          position: relative;
          &::after {
            content: '';
            position: absolute;
            bottom: -4px;
            left: 50%;
            -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                    transform: translateX(-50%);
            width: 0;
            height: 2px;
            background-color: $liner-bg-color;
            opacity: 0.3;
            -webkit-transition: width .3s ease;
            -o-transition: width .3s ease;
            transition: width .3s ease;
          }
          &:hover::after {
            width: 100%;
          }
        }
      }
    }
  }
}
.header-left-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  .logo {
    width: 108px;
    height: 32px;
  }
}

.burger {
  display: none;
  width: 34px;
  height: 20px;
  .burger-btn {
    width: 100%;
    height: 100%;
    position: relative;
    span {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      height: 2px;
      background-color: $liner-bg-color;
      width: 100%;
    }
    &::after, &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $liner-bg-color;
    }
    &::after {
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      left: 0;
    }
    &::before {
      bottom: 0;
      left: 0;
    }
  }
}
.burger-menu {
  position: fixed;
  top: 110px;
  left: 0;
  width: 100%;
  height: 300px;
  background: -webkit-gradient(linear, right top, left top, color-stop(0, rgba(255, 255, 255, .5)), color-stop(24.1%, rgba(255, 255, 255, .24)), color-stop(47.19%, rgba(255, 255, 255, 0))), rgba(255, 255, 255, .02);
  background: -o-linear-gradient(right, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .24) 24.1%, rgba(255, 255, 255, 0) 47.19%), rgba(255, 255, 255, .02);
  background: linear-gradient(270deg, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .24) 24.1%, rgba(255, 255, 255, 0) 47.19%), rgba(255, 255, 255, .02);
  -webkit-backdrop-filter: blur(4.5px);
          backdrop-filter: blur(4.5px);
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;
  z-index: 101;
  nav {
    li a {
      text-align: center;
      display: block;
      color: $liner-bg-color;
      font-family: "Red Hat Display";
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 166%; /* 2.38625rem */
      letter-spacing: 0.14375rem;
      text-transform: uppercase;
      &:hover {
        -webkit-filter: invert(100%);
                filter: invert(100%);
      }
    }
  }
}
.hero {
  .container {
    padding-top: 180px;
    hgroup {
      max-width: 523px;
      h1 {
        font-family: "Playfair Display";
        font-size: 2.75rem;
        font-weight: 400;
        line-height: 3.25rem; /* 118.182% */
        margin-bottom: 20px;
        em {
          color: $em-color;
        }
      }
      p {
        max-width: 439px;
        opacity: 0.8;
        margin-bottom: 48px;
      }
    }
  }
}
.link {
  cursor: pointer;
  color: $liner-bg-color;
  font-family: Lato;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem; /* 100% */
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  &:hover {
    color: $liner-bg-color-hover;
  }
  &:hover::after {
    background-color: $liner-bg-color-hover;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 10px;
    width: 100%; 
    height: 13px;
    background-color: $liner-bg-color;
    opacity: 0.3;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
}
.dollar {
  width: 21px;
  height: 50px;
  svg {
    fill: $dolar-color;
  }
}
.beautiful {
  padding-top: 151px;
  .container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    .beautiful-img {
      width: 48.72%;
      height: 670px;
      
    }
    .beautiful-content {
      position: absolute;
      width: 65.81%;
      top: 6.72%;
      bottom: 6.72%;
      right: 0;
      background-color: $beautiful-bg-color;
      padding: 45px 0;
    }
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: rgba( 255, 255, 255, .8);
  z-index: 100;
  opacity: 0;
  -webkit-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;
  visibility: hidden;
}
.open-menu {
  .burger-menu{
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .overlay {
    opacity: 1;
    visibility: visible;
  }
  header .header-right-blok .burger {
    button {
      span {
        background-color: transparent;
      }
      &::after, &::before {
        content: "";
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        width: 100%;
        height: 2px;
        background-color: $liner-bg-color;
        cursor: pointer;
        z-index: 101;
      }
      &::after {
        left: 0;
        rotate: 45deg;
      }
      &::before {
        right: 0;
        rotate: -45deg;
      }
    }
  }
}
.beautiful-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 48% 52%;
  grid-template-columns: 48% 52%;
  .title-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    .item-title {
      color: $text-color;
      text-align: center;
      font-family: "Playfair Display";
      font-size: 4.25rem;
      font-weight: 400;
      line-height: 4.5rem;
      margin-bottom: 12px;
      span {
        margin-right: 10px;
      }
    }
    .item-subtitle {
      text-align: center;
      opacity: 0.8;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        bottom: -150%;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        width: 100px;
        height: 1px;
        background-color: $em-color;
      }
      &.clear-line {
        &::after {
          display: none;
        }
      } 
    }
  }
  .inner-content {
    p {
      opacity: 0.8;
      margin-bottom: 20px;
      &:last-of-type {
        margin-bottom: 50px;
      }
    }
  }
}
.possibilities {
  padding: 104px 0;
  .possibilities-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    li {
      height: 280px;
      border-top: 1px solid $border-color;
      margin-bottom: 30px;
      hgroup {
        
        padding-left: 30px;
      }
      h3 {
        padding-top: 50px;
        font-family: "Playfair Display";
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 3rem;
        max-width: 440px;
        margin-bottom: 30px;
        em {
          color: $em-color;
        }
      }
      p {
        padding-right: 13%;
      }
    }
  }
}
.quote {
  height: 400px;
  .container {
    height: 100%;
    background: url('../images/quote-background.webp') no-repeat center center;
  }
  p {
    padding-top: 100px;
    margin-bottom: 40px;
    margin-left: 13.68%;
    max-width: 710px;
    position: relative;
    color: #fff;
    font-family: Lato;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.875rem; /* 143.75% */
    letter-spacing: 0.08rem;
    &::after {
      content: '';
      position: absolute;
      top: 30%;
      left: -8%;
      width: 102px;
      height: 84px;
      z-index: 1;
      background: url('../images/vector-light-theme.svg') no-repeat center center;
    }
  }
  .autor {
    margin-left: 13.68%;
    color: #fff;
    font-family: "Playfair Display";
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.25rem; /* 100% */
    letter-spacing: 0.1rem;
  }
}
.video-section {
  padding: 124px 0;
  .container {
    width: min(90%, 970px);
  }
  .video-wrapper {
    max-width: 970px;
    height: 601px;
    margin: 0 auto;
    position: relative;
    border: 1px solid $border-color;
    border-radius: 32px;
    padding: 30px 70px 30px 30px;
    margin-bottom: 50px;
    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      left: 8px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      border: 1px solid $border-color;
    }
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 14px;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: 1px solid $border-color;
    }
  }
  .title-video {
    color: $text-color;
    font-family: "Playfair Display";
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem; /* 120% */
    margin-bottom: 20px;
    em {
      color: $em-color;
    }
  }
  p {
    opacity: 0.8;
    max-width: 800px;
  }
}
.beautiful.beautiful-second {
  padding-top: 0;
  .beautiful-img {
    width: 51.3%;
    height: 540px;
  }
  .beautiful-content {
    padding: 75px 0;
    -ms-grid-columns: 61.04% 38.96%;
    grid-template-columns: 61.04% 38.96%;
    top: 8%;
    bottom: 8%;
  }
  .title-content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding-left: 70px;
  }
  .title-content-item {
    font-family: "Playfair Display";
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 3rem; /* 200% */
    ul {
      padding-top: 15px;
      li {
        opacity: 0.8;
        font-family: Lato;
        font-size: 1.125rem;
        font-weight: 300;
        line-height: 1.625rem; /* 144.444% */
        margin-bottom: 8px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }  
    }
  }
  .inner-content {
    position: relative;
    .link-wrapper {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 33px 83px 37px 89px;
      border: 1px solid $border-color;
    }
    
  }
}
h2 {
  font-family: "Playfair Display";
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem; /* 120% */
  em {
    color: $em-color;
  }
}
.client {
  .container {
    padding-bottom: 96px;
    border-bottom: 1px solid $border-color;
    > p {
      max-width: 400px;
      margin-bottom: 50px;
    }
    h2 {
      padding-top: 120px;
      margin-bottom: 20px;
    }
  }
}
p {
  opacity: 0.8;
}
.quote-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  
  li {
    background-size: cover;
    
    height: 340px;
    color: #fff;
    padding: 30px 40px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(25, 28, 41, 0.60);
    }
    &:nth-child(1) {
    
    background-position: center center;
    background-repeat: no-repeat;
    }
    &:nth-child(2) {
      
      background-position: center center;
      background-repeat: no-repeat;
    }
    &:nth-child(3) {
      
      background-position: center center;
      background-repeat: no-repeat;
    }
    .quote-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      height: 100%;
      z-index: 1;
    }
    .autor-item {
      z-index: 1;
      font-family: "Playfair Display";
      font-size: 1.25rem;
      font-style: italic;
      font-weight: 400;
      line-height: 1.25rem; /* 100% */
      letter-spacing: 0.1rem;
    }
  }
}
.contact {
  .container {
    padding-bottom: 60px;
    border-bottom: 1px solid $border-color;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    .contact-content {
      width: 59.83%;
      padding-top: 81px;
      h2 {
        margin-bottom: 23px;
      }
      p {
        max-width: 440px;
      }
    }
    .contact-form {
      width: 40.17%;
      padding-top: 30px;
      form {
        fieldset {
          border: none;
        }
        width: 100%;
        
      }
    }
  }
  .link {
    margin-top: 40px;
    width: 170px;
    button {
      color: $liner-bg-color;
      font-family: Lato;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 700;
      line-height: 1.25rem; /* 100% */
      letter-spacing: 0.1rem;
      text-transform: uppercase;
    }
  }
}
.contact-form {
  form{
    width: 100%;
    padding:3vw;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    border-radius:5px;
  }
  
  label{
    margin-bottom:15px;
    position:relative;
    border-bottom:1px solid $border-color;
    cursor: pointer;
  }
  input, textarea{
    width:100%;
    padding:10px 0px;
    margin-top:20px;
    border:none;
    outline:none;
    resize: none;
    background-color: transparent;
    color: $liner-bg-color;
    
  }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
    opacity:0;
  }
  input::-moz-placeholder, textarea::-moz-placeholder{
    opacity:0;
  }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder{
    opacity:0;
  }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder{
    opacity:0;
  }
  input::placeholder, textarea::placeholder{
    opacity:0;
  }
  span{
    position:absolute;
    top:0;
    left:0;
    -webkit-transform:translateY(30px);
        -ms-transform:translateY(30px);
            transform:translateY(30px);
    font-size:0.825em;
    -webkit-transition-duration:300ms;
         -o-transition-duration:300ms;
            transition-duration:300ms;
    font-family: "Playfair Display";
    font-size: 1.125rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.25rem; /* 111.111% */
    letter-spacing: 0.09rem;
    opacity: 0.5;
  }
  input:not(:-moz-placeholder-shown) + span{
  color: $liner-bg-color;
  transform:translateY(0px);
}
  input:not(:-ms-input-placeholder) + span{
  color: $liner-bg-color;
  -ms-transform:translateY(0px);
      transform:translateY(0px);
}
  label:focus-within > span,
input:not(:placeholder-shown) + span{
  color: $liner-bg-color;
  -webkit-transform:translateY(0px);
      -ms-transform:translateY(0px);
          transform:translateY(0px);
}
textarea:not(:-moz-placeholder-shown) + span{
  color: $liner-bg-color;
  transform:translateY(0px);
}
textarea:not(:-ms-input-placeholder) + span{
  color: $liner-bg-color;
  -ms-transform:translateY(0px);
      transform:translateY(0px);
}
label:focus-within > span,
textarea:not(:placeholder-shown) + span{
  color: $liner-bg-color;
  -webkit-transform:translateY(0px);
      -ms-transform:translateY(0px);
          transform:translateY(0px);
}
}

footer {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 0;
    .footer-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      gap: 10px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .footer-text {
      font-family: Lato;
      opacity: 0.6;
      font-size: 0.875rem;
      font-weight: 300;
      line-height: 1.625rem; /* 185.714% */
    }
    .footer-item-a a {
      color: $text-color;
      font-family: Lato;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5rem; 
      letter-spacing: 0.07rem;
      &:hover {
        color: $liner-bg-color;
      }
    }
  }
}
@media screen and (max-width: 1300px) {
  .quote-list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    li {
      
      blockquote {
        height: 400px;
        p {
          max-width: 80%;
        }
      }
    }
  }
  .beautiful.beautiful-second .inner-content .link-wrapper {
    padding: 15px 46px;
  }
}
  

@media screen and (max-width: 1070px) {
  .beautiful .container {
    .beautiful-img {
      width: 60%;
    }
    .beautiful-content {
      width: 85%;
    }
  }
  .video-section .video-wrapper {
    height: 540px;
  }
  .beautiful.beautiful-second .inner-content .link-wrapper {
    right: auto;
    left: 0;
    padding: 15px 40px;
  }
  .client .container {
    padding-bottom: 80px;
  }
  
  .possibilities .possibilities-list {
    gap: 5px;
  }
  .quote p {
    max-width: 560px;
  }
  .video-section {
    padding: 80px 0;
  }
}
@media screen and (max-width: 890px) {
  .possibilities .possibilities-list li {
    max-height: 240px;
    h3 {
      font-size: 2rem;
      line-height: 2.5rem; /* 125% */
      padding-top: 30px;
    }
  }
  .beautiful .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    .beautiful-img {
      width: 100%;
      height: auto;
    }
    .beautiful-content {
      width: 100%;
      padding: 30px;
    }
  }
  .beautiful.beautiful-second {
    .beautiful-img {
      display: none;
    }
    .beautiful-content {
      position: static;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      padding: 0;
      .title-content {
        padding-left: 0;
      }
    }
  }
  .beautiful.beautiful-second .inner-content .link-wrapper {
    padding: 8px 20px;
  }
  .video-section {
    padding: 40px 0;
  }
  .contact .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 40px;
    .contact-form-items {
      label[for="message"] {
        margin-bottom: 50px;
      }
      .link {
        margin: 0 auto;
      }
    }
    .contact-form  {
      width: 70%;
    }
  }
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  
  .burger-menu nav li a {
    font-size: 1.5rem;
  
  }
}
@media (max-width: 800px) {
  header {
    .header-right-blok {
      .header-menu {
        display: none;
      }
      .burger {
        display: block;
      }
    }
  }
  .hero .container{
    padding-top: 140px;
  }
  .beautiful {
    padding-top: 100px;
  }
  .contact .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 80px;
    .contact-form {
      width: 60%;
    }
  }
  .contact .link {
    margin: 0 auto;
  }
  footer .container {
    &:nth-child(1) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
  }
  .beautiful {
    padding-top: 60px;
    .beautiful-img {
      display: none;
    }
    .container .beautiful-content {
      position: static;
      width: 100%;
      -ms-grid-columns: 35% 60%;
      grid-template-columns: 35% 60%;
      .inner-content {
        .link-wrap {
          -webkit-transform: translateX(20%);
              -ms-transform: translateX(20%);
                  transform: translateX(20%);
        }
      }
      .title-content {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: start;
        margin-bottom: 10px;
        .item-subtitle::after {
          display: none;
        }
        .item-title {
          font-size: 2.8rem;
        }
      }  
    }
  }
  .possibilities {
    padding: 60px 0;
    .possibilities-list {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      li {
        height: auto;
        
        hgroup {
          padding-left: 0;
          text-align: center;
          
          h3 {
            font-size: 2rem;
            line-height: 2.5rem; /* 125% */
            padding-top: 30px;
            max-width: 100%;
          }
          p {
            padding-right: 0;
          }
        }
      }
    }
  }
  .quote {
    .container {
      padding-right: 20px;
      p {
        font-size: 1.6rem;
      }
      
    }
  }
  .video-section .video-wrapper {
    height: 420px;
  }
  .client {
    .quote-list {
      li {
        background-size: cover!important;
        blockquote {
          p {
            max-width: 100%;
            font-size: 1.6rem;
          }
        }
      }
    }
  }
  .contact .container .contact-content {
    width: 100%;
    text-align: center;
    p {
      margin: 0 auto;
    }
  }
}
@media screen and (max-width: 680px) {
  .beautiful .container .beautiful-content {
    -ms-grid-columns: 94%;
    grid-template-columns: 94%;
    gap: 20px;
    .title-content {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
    }
  }
  .beautiful .container .beautiful-content .title-content .item-title {
    font-size: 2.1rem;
    line-height: 3rem;
    margin-bottom: 5px;
  }
  .beautiful.beautiful-second .beautiful-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .beautiful.beautiful-second .inner-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .beautiful .container .beautiful-content .title-content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .beautiful.beautiful-second .title-content-item {
    text-align: center;
  }
  .quote {
    height: 290px;
    .container {
      p {
        padding-top: 35px;
        line-height: 2.1rem;
        font-size: 1.4rem;
      }
      .autor {
        font-size: 1.1rem;
      }
    }
  }
  .client {
    .quote-list li {
      height: 396px;
      .quote-item p {
        font-size: 1.4rem;
      }
    }
    .video-section .video-wrapper {
      height: 346px;
    }
  }
  .contact .container {
    padding-bottom: 66px;
    .contact-form {
      width: 85%;
    }
    .contact-content {
      padding-top: 70px;
    }
  }
  
}
@media screen and (max-width: 500px) {
  .hero .container hgroup h1 {
    font-size: 2.4rem;
  }
  .hero .container {
    padding-top: 90px;
  }
  .beautiful .container .beautiful-content .title-content {
    display: block;
  }
  .beautiful.beautiful-second .inner-content {
    display: block;
  }
  .beautiful.beautiful-second .inner-content .link-wrapper {
    position: static;
    text-align: center;
    border: none;
    padding-top: 40px;
  }
  .client .container h2 {
    padding-top: 74px;
  }
  .video-section .video-wrapper {
    height: 280px;
    padding: 10px 55px 10px 20px;
    &::after {
      left: 4px;
    }
    &::before {
      right: 9px;
    }
  }
  .quote {
    height: 330px;
    p {
      margin-bottom: 25px;
      &::after {
        top: 13%;
      }
    }
  }
  header {
    height: 60px;
    padding: 14px 0;
  }
  .burger-menu {
    top: 90px;
  }
}
@media screen and (max-width: 460px) {
  .client .quote-list li {
    height: 444px;
    .quote-item p {
      font-size: 1.26rem;
    }
  }
  .video-section .video-wrapper {
    height: 250px;
  }
  .quote {
    height: 360px;
  }
}
input:-internal-autofill-selected {
  background-color: transparent;
}

[data-theme='dark'] {
  body {
    background: url('../images/main-bg-dark-min.webp') no-repeat;
    background-color: #161926;
    background-size: contain;
    background-position: 50% 0%;
  }
  header {
    background: -webkit-gradient(linear, right top, left top, from(rgba(22, 25, 38, 0.50)), color-stop(24.1%, rgba(22, 25, 38, 0.00)), color-stop(47.19%, rgba(22, 25, 38, 0.00))), rgba(22, 25, 38, 0.02);
    background: -o-linear-gradient(right, rgba(22, 25, 38, 0.50) 0%, rgba(22, 25, 38, 0.00) 24.1%, rgba(22, 25, 38, 0.00) 47.19%), rgba(22, 25, 38, 0.02);
    background: linear-gradient(270deg, rgba(22, 25, 38, 0.50) 0%, rgba(22, 25, 38, 0.00) 24.1%, rgba(22, 25, 38, 0.00) 47.19%), rgba(22, 25, 38, 0.02);
    -webkit-backdrop-filter: blur(4.5px);
            backdrop-filter: blur(4.5px);
  }
  .burger-menu {
    background: -webkit-gradient(linear, right top, left top, from(rgba(22, 25, 38, 0.50)), color-stop(24.1%, rgba(22, 25, 38, 0.00)), color-stop(47.19%, rgba(22, 25, 38, 0.00))), rgba(22, 25, 38, 0.02);
    background: -o-linear-gradient(right, rgba(22, 25, 38, 0.50) 0%, rgba(22, 25, 38, 0.00) 24.1%, rgba(22, 25, 38, 0.00) 47.19%), rgba(22, 25, 38, 0.02);
    background: linear-gradient(270deg, rgba(22, 25, 38, 0.50) 0%, rgba(22, 25, 38, 0.00) 24.1%, rgba(22, 25, 38, 0.00) 47.19%), rgba(22, 25, 38, 0.02);
    -webkit-backdrop-filter: blur(4.5px);
            backdrop-filter: blur(4.5px);
  }
  blockquote p::after {
    background: url('../images/vector-dark-theme.svg') no-repeat center top;
  }
  .overlay {
    background-color: rgba( 0, 0, 0, .8);
  }
}