*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
* {
    margin: 0;
    padding: 0;
}
img {
    vertical-align: top;
}
ul {
    list-style: none;   
}
body {
    font-family: "Roboto", sans-serif;
    background-color: #3B3F45;
    color: #fff;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.container {
    width: min(90%, 800px);
    margin: 0 auto;
}
hgroup {
    padding-bottom: 23px;
    background: #4A4F56;
    h1 {
        text-align: center;
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 6px;
        color: #FF8984;
        padding-top: 23px;
    }
    p {
        color: #FF8984;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }
}
label {
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 15px 0 15px 0;
    span {
        position: relative;
        top: -4px;
        display: inline-block;
        margin-left: 14px;
        font-size: 27px;
        line-height: 32px; 
        vertical-align: middle;
        small {
            position: relative;  
            top: -4px; 
            left: 10px;
            font-size: 17px;
            line-height: 20px;
        }
    }
}
.shopping-list {
    margin-bottom: 40px;
    margin-top: 40px;
    background-color: #88839E;
    li {
        color: #fff;
        height: 68px;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        transition: all 0.3s ease;
        &:nth-child(even) {
            background: #625E77;
            box-shadow: 0 4px 10px rgba(19, 16, 26, 0.5);
        }
        &:hover {
            border-color: #fff;
            background: #48445e;
        }
        &:active {
            background: #744e5b;
        }
    }
    input[type="checkbox"] {
        appearance: none;
        width: 28px;
        height: 28px;
        border: 1px solid #fff;
        background-color: #fff;
        position: relative;
        cursor: pointer;
        margin-left: 15px;
        top: 2px;
        &:checked::after {
                content: "✔";
                color: #000;
                position: absolute;
                font-size: 22px;
                top: -2px;
                left: 5px;
        } 
        &:checked + span {
            color: #9B96AC;
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: #9B96AC;
                top: 48%;
                left: 0;
            }
        } 
    }
}
.desire {
    margin-bottom: 45px;
    font-size: 28px;
    color: #FF8984;
    background-color: #4A4F56;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
}

