@font-face {
  font-family: "Lucida Sans Unicode";
  src: url("../fonts/lucida-sans-unicode.ttf") format("truetype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

img {
  vertical-align: top;
}

a, button {
  transition: all 0.3s ease-in;
}

body {
  font-family: "Lucida Sans Unicode", sans-serif;
  background-color: #2B81AC;
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main {
  padding-top: 25px;
}
main .container {
  padding: 41px 112px 94px 112px;
}

.container {
  width: min(90%, 1390px);
  margin: 0 auto;
  background-color: #3399CC;
}

.title {
  margin-bottom: 32px;
  font-size: 21px;
}
.title i {
  margin-left: 10px;
  font-size: 26px;
}

.forecast {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 2px;
  margin-bottom: 37px;
}
.forecast .city {
  max-height: 142px;
  text-align: center;
  margin: 2px;
  transition: all 0.2s ease;
}
.forecast .city a {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: #fff;
  text-decoration: none;
  padding-bottom: 20px;
}
.forecast .city a:active {
  background-color: #100101;
}
.forecast .city a .city-title {
  padding-top: 24px;
  margin-bottom: 4px;
}
.forecast .city a .temp {
  display: flex;
  align-items: center;
}
.forecast .city a .temp i {
  margin-left: 13px;
  font-size: 42px;
  line-height: normal;
  position: relative;
  top: -2px;
}
.forecast .city .temp, .forecast .city .wi {
  opacity: 0.7;
}
.forecast .half {
  flex-basis: 49.6%;
}
.forecast .quarter {
  flex-basis: 24.6%;
}
.forecast .full {
  flex-basis: 100%;
}

.note {
  font-size: 16px;
}

ul:hover li:not(:hover) {
  opacity: 0.7;
}

.light-blue {
  background-color: #71B8DB;
}

.sea-color {
  background-color: #33CCCC;
}

.purple-color {
  background-color: #996699;
}

.red-color {
  background-color: #C24747;
}

.orange-color {
  background-color: #E2674A;
}

.yellow-color {
  background-color: #FFCC66;
}

.light-green {
  background-color: #99CC99;
}

.dirty-green {
  background-color: #669999;
}

.pink {
  background-color: #CC6699;
}

.dark-green {
  background-color: #339966;
}

.dark-purple {
  background-color: #666699;
}