@font-face {
  font-family: "Lucida Sans Unicode";
  src: url("../fonts/lucida-sans-unicode.ttf") format("truetype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

img {
  vertical-align: top;
}

a, button {
  transition: all 0.3s ease-in;
}

body {
  font-family: "Lucida Sans Unicode", sans-serif;
  background-color: #2B81AC;
  color: #fff;
  font-size: 22px;
}

main {
  padding-top: 25px;
}
main .container {
  padding: 41px 112px 94px 112px;
}

.container {
  width: min(90%, 1390px);
  margin: 0 auto;
  background-color: #3399CC;
}

.title {
  margin-bottom: 40px;
}

.forecast {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 4px;
  margin-bottom: 37px;
  gap: 4px;
}
.forecast .city {
  background-color: #3399CC;
  height: 151px;
  text-align: center;
}
.forecast .half {
  flex-basis: 49.8%;
}
.forecast .quarter {
  flex-basis: 24.7%;
}
.forecast .full {
  flex-basis: 100%;
}