$bg-outside-color: #2B81AC;
$bg-inside-color: #3399CC;
$text-color: #fff;
@font-face {
    font-family: "Lucida Sans Unicode";
    src: url("../fonts/lucida-sans-unicode.ttf") format("truetype");
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul, ol {
    list-style: none;
}
img {
    vertical-align: top;
}
a, button {
    transition: all .3s ease-in;
}
body{
    font-family: "Lucida Sans Unicode", sans-serif;
    background-color: $bg-outside-color;
    color: $text-color;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
main {
    padding-top: 25px;
    .container {
        padding: 41px 112px 94px 112px;
    }
}
.container {
    width: min(90%, 1390px);
    margin: 0 auto;
    background-color: $bg-inside-color;
}
.title {
    margin-bottom: 32px;
    font-size: 21px;
    i {
        margin-left: 12px;
    }
}
.forecast {
    display: flex;
    flex-wrap: wrap;
    background-color: $text-color;
    padding: 4px;
    margin-bottom: 37px;
    gap: 4px;
    .city {
        background-color: #3399CC;
        height: 142px;
        text-align: center;
        &:nth-child(1) {
            background-color: #71B8DB;
        }
        &:nth-child(2) {
            background-color: #33CCCC;
        }
        &:nth-child(3) {
            background-color: #996699;
        }
        &:nth-child(4) {
            background-color: #C24747;
        }
        &:nth-child(5) {
            background-color: #E2674A;
        }
        &:nth-child(6) {
            background-color: #FFCC66;
        }
        &:nth-child(7) {
            background-color: #99CC99;
        }
        &:nth-child(8) {
            background-color: #669999;
        }
        &:nth-child(9) {
            background-color: #CC6699;
        }
        &:nth-child(10) {
            background-color: #339966;
        }
        &:nth-child(11) {
            background-color: #666699;
        }
        a {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            color: $text-color;
            text-decoration: none;
            &:first-child {
                padding-top: 24px;
                margin-bottom: 4px;
            }
            .temp {
                display: flex;
                align-items: center;
            }
            
            .temp i {
                margin-left: 17px;
                font-size: 42px;
                line-height: normal;
            }
        }
        .temp, .wi {
            opacity: 0.7;
        }
    }
    .half {
        // flex: 0 0 49.8%;
        flex-basis: 49.8%;
    }
    .quarter {
        // flex: 0 0 24.7%;
        flex-basis: 24.7%;
    }
    .full {
        // flex: 0 0 100%;
        flex-basis: 100%;
    }


}
.note {
    font-size: 16px;
}
