$text-color: #544837;
$primery-color: #F90;
$active-color: #D80B0A;
$seconrady-color-light: #F03E3D; 
$h1-color: #2F281E;
$bg-color-hero: #FFC6B2;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul, ol {
    list-style: none;
}
img {
    vertical-align: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a, button {
    transition: all .3s ease-in;
    cursor: pointer;
}
.btn {
    text-decoration: none;
    padding: 12px 17px;
    background-color: $primery-color;
    color: #fff;
    border-radius: 4px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 1px solid $primery-color;

    &:hover {
        background-color: $seconrady-color-light;
    }
    &:active {
        background-color: $active-color;
    }
    &.btn-secondary{
        background-color: transparent;
        color: $text-color;
        border: 1px solid $text-color;
        padding: 12px 22px;
        &:hover {
            color: $seconrady-color-light;
            border: 1px solid $seconrady-color-light;
        }
        &:active {
            color: $active-color;
            border: 1px solid $active-color;
        }
    }
}
body {
    font-family: "Montserrat", sans-serif;
    color: $text-color;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}
.container {
    width: min(90%, 1230px);
    margin: 0 auto;
}
.hero {
    border-color: $bg-color-hero;
}
header{
    position: relative;
    padding: 17px 0;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
} 
.main-menu {
    display: flex;
    gap: 40px;
    a {
        text-decoration: none;
        color: $text-color;
        font-weight: 400;
        line-height: 28px;
        font-size: 18px;
        &:hover {
            color: $primery-color;
        }
        &:active {
            color: $active-color;
        }
    }
}
.buttons-group {
    display: flex;
    gap: 32px;
}
.hero .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 90px 0;
    gap: 60px;
    padding-bottom: 90px;
    .hero-content-wrapp {
        display: flex;
        flex-direction: column;
        height: 300px;
        width: 35%;
        justify-content: space-between;
              
        h1 {
            font-size: 44px;
            font-weight: 700;
            line-height: 54px;
            font-style: normal;
            color: $h1-color;
        }
        p {
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 22px;
        }
        button.btn-hero {
            padding: 12px 0;
            width: 180px;
        }
    }     
}
.features .container h2 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    max-width: 539px;
    margin: 0 auto;
    line-height: normal;
    margin-bottom: 50px;
}
.features-list {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    margin-bottom: 60px;
    li {
        height: 175px;
        width: 270px;
        display: flex;
        flex-direction: column;
        img {
            width: 50px;
            height: 50px;
            margin-bottom: 30px;
        }
        .features-item-title {
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 16px;
            color: $h1-color;
        }
        .features-item-text {
            font-size: 16px;
            font-weight: 500;
            line-height: 26px;
            color: $text-color;
        }
    }
}
.btn-features {
    margin: 0 auto;
    display: block;
    padding: 12px 30px;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
}
.features {
    padding-bottom: 80px;
    background: url(../img/bg.svg) no-repeat center bottom;
    background-size: cover;
}
footer {
    border-top: 1px solid #D6E0EB;
    padding: 70px 0;
}
footer .container {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: $h1-color;
    position: relative;
    .logo{
        transform: translateY(-44%);
        a {
            max-width: 200px;
            img {
                object-fit: contain;
            }
        }
    }
    ul {
        padding-top: 30px;
        li {
            margin-bottom: 12px;
            &:last-child {
                margin-bottom: 0;
            }
            a{
                font-size: 18px;
                font-weight: 400;
                line-height: 28px;
                color: $h1-color;
                text-decoration: none;
                &:hover {
                    color: $primery-color;
                }
                &:active {
                    color: $active-color;
                }
            }
        }
    }
    .footer-phone {
        width: 340px;
        height: 207px;
        form {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;
            input {
                width: 100%;
                padding: 12px 20px;
                border-radius: 4px;
                border: 1px solid #D6E0EB;
                font-size: 18px;
                font-weight: 500;
                line-height: normal;
                color: $text-color;
                &:focus {
                    outline: none;
                    border-color: $primery-color;
                }
            }
            .btn-footer {
                width: 180px;
            }
        }
    }
}
.burger {
    display: none;
}
.toogleMenu {
    .overlay {
        opacity: 1;
        visibility: visible;
    }
    .mobile-menu {
        transform: translateY(0);
    }
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 100;
    }
    #burger-menu {
        background-color: transparent;
        transition: all 0.3s ease;
        button {
            width: 100%;
            height: 100%;
            position: relative;
            background-color: transparent;
            border: none;
            span {
                background-color: transparent;
                &::before {
                    top: 2px;
                    transform: rotate(-45deg);
                }
                &::after {
                    top: 2px;
                    transform: rotate(45deg);
                }
            }
        }
    }
}
.burger {
    cursor: pointer;
    position: relative;
    top: 27%;
    width: 33px;
    height: 33px;
    background-color: transparent;
    button {
        width: 100%;
        height: 100%;
        position: relative;
        background-color: transparent;
        border: none;
        span {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 3.8px;
            background-color: black;
            transform: translate(-50%, -50%);
            transition: 0.3s ease;
            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 33px;
                height: 3.8px;
                background-color: black;
                transition: 0.3s ease;
                left: 0;
            }
            &::before {
                top: -7px; /* Відстань до верхньої лінії */
            }
            &::after {
                top: 7px; /* Відстань до нижньої лінії */
            }
        }
    }
}
.overlay {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: #fff;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}
.mobile-menu {
    position: fixed;
    transform: translateY(-130%);
    transition: all 0.3s ease;
    top: 80px;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: #fff;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 101;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    .mobile-menu-list {
        flex-direction: column;
        gap: 40px;
        a {
            display: inline-block;
            width: 100%;
            text-align: center;
            padding: 12px 0;
            font-size: 24px;
            font-weight: 600;
            text-decoration: none;
            color: $text-color;
            &:hover {
                color: $primery-color;
            }
        }
    }
}
@media screen and (max-width: 1050px) {
    header {
        .container {
            justify-content: space-between;
        }
        .main-menu {
            display: none;
        }
        .burger {
            display: block;
        }
    }
    .hero .container {
        padding: 20px 0 80px;
        flex-direction:column-reverse;
        gap: 10px;
        .hero-content-wrapp {
            text-align: center;
            width: 65%;
            button.btn-hero {
                width: 100%;
            }
        }
        
    }
    .features-list {
        flex-wrap: wrap;
        gap: 10px;
        li {
            width: 45%;
            text-align: center;
            margin-bottom: 15px;
            .features-item-img {
                margin: 0 auto 20px;

            }
        }
    }
    footer .container {
        flex-wrap: wrap;
        .logo {
            width: 100%;
            text-align: center;
            img {
                width: 50%;
                margin: 0 auto;
            }
        }
    }
}
@media screen and (max-width: 780px) {
    footer {
        border-top: none;
    }
    footer .container {
        justify-content: center;
        gap: 50px;
        .footer-phone {
            width: 100%;
            form {
                width: 60%;
                margin: 0 auto;
            }
        }
    }
}
@media screen and (max-width: 600px) {
    header {
        .logo {
            padding-top: 10px;
            width: 130px;
        }
        button.btn,
        .btn.btn-secondary {
            padding: 7px;
            font-size: 16px;
        }
        .burger {
            scale: 0.9;
        }
    }
    .hero .container .hero-content-wrapp h1 {
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 20px;
    }
    .hero .container .hero-content-wrapp p {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 14px;
    }
    .features-list {
        margin-bottom: 84px;
    }
    footer .container {
        .logo {
            img {
                width: 80%;
            }
        }
        justify-content: center;
        gap: 30px;
        .footer-phone {
            width: 100%;
            form {
                padding: 5%;
                border: 1px solid #333;
                border-radius: 5px;
                width: 80%;
                height: 260px;
                label {
                    margin-bottom: 20px;
                }
                input {
                    margin-bottom: 20px;
                }
                .btn-wrapper {
                    margin: 0 auto;
                    width: 100%;
                    
                    button {
                        width: 100%;
                    }
                }
            }
        }
    }   
}
@media screen and (max-width: 480px) {
    .features-list{
        margin-bottom: 35px;
        li{
            width: 100%;
        }
    }
    .buttons-group {
        gap: 8px;
    }
}
@media screen and (max-width: 400px) {
    header {
        .logo {
            width: 120px;
        }
        button.btn,
        .btn.btn-secondary {
            padding: 1px;
        }
        .burger {
            scale: 0.7;
        }
    }
    footer .container .footer-phone form input {
        font-size: 16px;
    }
    footer .container ul li a {
        font-size: 16px;
        line-height: 25px;
    }
    footer .container .footer-phone form {
        width: 90%;
    }
    footer .container .logo img {
        width: 90%;
    }
    .hero .container .hero-content-wrapp p {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 18px;
    }
    .hero .container .hero-content-wrapp h1 {
        font-size: 32px;
    }
    .features .container h2 {
        font-style: 30px;
    }
}