$text-color: #544837;
$primery-color: #F90;
$active-color: #D80B0A;
$seconrady-color-light: #F03E3D; 
$h1-color: #2F281E;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul, ol {
    list-style: none;
}
img {
    vertical-align: top;
}
a, button {
    transition: all .3s ease-in;
}
.btn {
    text-decoration: none;
    padding: 12px 17px;
    background-color: $primery-color;
    color: #fff;
    border-radius: 4px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 1px solid $primery-color;

    &:hover {
        background-color: $seconrady-color-light;
    }
    &:active {
        background-color: $active-color;
    }
    &.btn-secondary{
        background-color: transparent;
        color: $text-color;
        border: 1px solid $text-color;
        padding: 12px 22px;
        &:hover {
            color: $seconrady-color-light;
            border: 1px solid $seconrady-color-light;
        }
        &:active {
            color: $active-color;
            border: 1px solid $active-color;
        }
    }
}
body {
    font-family: "Montserrat", sans-serif;
    color: $text-color;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}
.container {
    width: min(90%, 1230px);
    margin: 0 auto;
}
header{
    padding: 17px 0;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
} 
.main-menu {
    display: flex;
    gap: 40px;
    a {
        text-decoration: none;
        color: $text-color;
        font-weight: 400;
        line-height: 28px;
        font-size: 18px;
        &:hover {
            color: $primery-color;
        }
        &:active {
            color: $active-color;
        }
    }
}
.buttons-group {
    display: flex;
    gap: 32px;
}

.hero .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 90px 0;
    gap: 60px;
    .hero-content {
        // flex-basis: 40%;
        .hero-content-wrapp {
            display: flex;
            flex-direction: column;
            height: 300px;
            justify-content: space-between;
              
            h1 {
                font-size: 44px;
                font-weight: 700;
                line-height: 54px;
                font-style: normal;
                color: $h1-color;
            }
            p {
                font-size: 18px;
                line-height: 28px;
                margin-bottom: 22px;
            }
            button.btn-hero {
                padding: 12px 0;
                width: 180px;
            }
        }   
    }
    
}