* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

img {
  vertical-align: top;
}

a, button {
  transition: all 0.3s ease-in;
}

.btn {
  text-decoration: none;
  padding: 12px 17px;
  background-color: #F90;
  color: #fff;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: 1px solid #F90;
}
.btn:hover {
  background-color: #F03E3D;
}
.btn:active {
  background-color: #D80B0A;
}
.btn.btn-secondary {
  background-color: transparent;
  color: #544837;
  border: 1px solid #544837;
  padding: 12px 22px;
}
.btn.btn-secondary:hover {
  color: #F03E3D;
  border: 1px solid #F03E3D;
}
.btn.btn-secondary:active {
  color: #D80B0A;
  border: 1px solid #D80B0A;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #544837;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.container {
  width: min(90%, 1230px);
  margin: 0 auto;
}

header {
  padding: 17px 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-menu {
  display: flex;
  gap: 40px;
}
.main-menu a {
  text-decoration: none;
  color: #544837;
  font-weight: 400;
  line-height: 28px;
  font-size: 18px;
}
.main-menu a:hover {
  color: #F90;
}
.main-menu a:active {
  color: #D80B0A;
}

.buttons-group {
  display: flex;
  gap: 32px;
}

.hero .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 90px 0;
  gap: 60px;
}
.hero .container .hero-content-wrapp {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
}
.hero .container .hero-content-wrapp h1 {
  font-size: 44px;
  font-weight: 700;
  line-height: 54px;
  font-style: normal;
  color: #2F281E;
}
.hero .container .hero-content-wrapp p {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 22px;
}
.hero .container .hero-content-wrapp button.btn-hero {
  padding: 12px 0;
  width: 180px;
}